In [1]:
2+2

4

In [2]:
"hi"

'hi'

In [3]:
print("Helllo World")

Helllo World

In [4]:
print(1234567890)

1234567890

In [5]:
print("argument1",2,"argument3")

argument1 2 argument3

In [7]:
a=123
b=304

In [8]:
a

123

In [9]:
b

304

In [11]:
print(a,b)

123 304

In [13]:
s='pyhton is awesome'
s

'pyhton is awesome'

In [14]:
k="again python is awesome"
k

'again python is awesome'

In [19]:
l='''you 
can 
write
in 
multilines'''
l

'you \ncan \nwrite\nin \nmultilines'

In [20]:
print(l)

you
can
write
in
multilines

In [21]:
f=4.423423
type(f)
float

float

In [23]:
t,f=True,False

In [24]:
t

True

In [25]:
f

False

In [26]:
print(type(t),type(f))

<class 'bool'> <class 'bool'>

In [27]:
x=none
y=none

NameError: name 'none' is not defined

In [28]:
x=None
y=None

In [29]:
type(x)

NoneType

In [30]:
print('this is output')

this is output

In [31]:
name=input('enter your name')

In [32]:
name

'Som'

In [33]:
print(name)

Som

In [34]:
name =input('enter name')
college =input('enter College')
sem =input('enter sem')
iq=input('enter IQ')

In [36]:
print("Name:",name)
print("College:",college)
print("semester:",sem)
print("I.Q:",iq)

Name: som
College: bbdu
semester: 6
I.Q: 95

In [1]:
fav_color =input('enter the color that u like')
print(fav_color)

blue

In [2]:
a=input('enter ')

NameError: name 'blue' is not defined

In [ ]:
fav_color =input('enter the color that u like')
print(fav_color)

In [1]:
a=input('enter a number:')
b=input('enter a number:')
print(a,b)
c=a+b
print(c)

120 155
120155

In [2]:
a= int(input('enter a number'))
b= int(input('enter a number'))
c=a+b
print(c)

25

In [3]:
x= int(input('enter a number'))
y= int(input('enter a number'))
z=x+y
print(z)

103

In [4]:
x= float(input('enter a number'))
y= float(input('enter a number'))
z=x+y
print(z)

70.53

In [5]:
a=10
b=3

In [6]:
a+b

13

In [7]:
a-b

7

In [8]:
a-10

0

In [9]:
a*b

30

# normal division -> always get float result

## normal divison -> always get float result

In [10]:
a/b

3.3333333333333335

In [11]:
10/2

5.0

// interger division -> output is int

In [16]:
123//5

24

In [17]:
a%2

0

In [18]:
b%2

1

## exponent power

In [20]:
a**b

1000

In [21]:
a**100

10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [22]:
100**100

100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [23]:
100**1000

100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [24]:
a>b

True

In [25]:
a<b

False

In [26]:
a==b

False

In [27]:
a<=b

False

In [28]:
a!=b

True

In [29]:
a>=b

True


'logical operator'
* and
* or
* not

In [31]:
name='sonu'
password='123123'

In [32]:
name=='sonu' and password == '123123'

True

In [33]:
name=='som' and password=='12123'

False

In [34]:
name=='sonu' or password=='12123'

True

In [35]:
name=='som' or password=='12123'

False

In [41]:
email = input('enter email')
password = input('enter password')
email == 'rajababu' and password == 'admin'

True

In [42]:
not email=='raju'

True

In [43]:
hungry='yes'

In [44]:
not hungry=='no'

True

In [45]:
age=20

In [46]:
not age==20

False

In [47]:
x=[1,2,3,4,5,6,'orange']

In [48]:
100 in x

False

In [49]:
a in x

False

In [50]:
b in x

True

In [52]:
'orange' in x

True

# conditions and loops

In [5]:
if 10%2 ==0:
    print("it's even")

it's even