## wap to store 10 movies entered by the user in a ist

In [16]:
movies= []
for i in range(10):
    name=input('enter the names of movies')
    movies.append(name)

## wap to store 100 even numbers in list

In [1]:
evens=list(range(2,201,2))
print(evens)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200]

# wap to store 10 prime numbers in a list

In [5]:
num=91203
for i in range(2,num):
    if num % i==0:
        print("not prime")
        break
else:
    print(f'(num) is prime')

not prime

In [8]:
num = 13
for i in range(2,num):
    if num % i==0:
        print("not prime")
        break
else:
    print(f'{num} is prime')

13 is prime

In [ ]:
primes=[]
num=2
while len(primes)<10:
    print(primes,len(primes),num)
    for i in range(2,num):
        if num%i==0:
            break
    else:
        primes.append(num)
    num+=1

In [ ]:
primes

In [ ]:
print(primes)

In [3]:
primes = []
num = 2
while len(primes) < 10:
    print (primes, len(primes), num)
    for i in range(2, num):
        if num%i == 0:
            break
    else:
        primes.append(num)
    num+=1

[] 0 2
[2] 1 3
[2, 3] 2 4
[2, 3] 2 5
[2, 3, 5] 3 6
[2, 3, 5] 3 7
[2, 3, 5, 7] 4 8
[2, 3, 5, 7] 4 9
[2, 3, 5, 7] 4 10
[2, 3, 5, 7] 4 11
[2, 3, 5, 7, 11] 5 12
[2, 3, 5, 7, 11] 5 13
[2, 3, 5, 7, 11, 13] 6 14
[2, 3, 5, 7, 11, 13] 6 15
[2, 3, 5, 7, 11, 13] 6 16
[2, 3, 5, 7, 11, 13] 6 17
[2, 3, 5, 7, 11, 13, 17] 7 18
[2, 3, 5, 7, 11, 13, 17] 7 19
[2, 3, 5, 7, 11, 13, 17, 19] 8 20
[2, 3, 5, 7, 11, 13, 17, 19] 8 21
[2, 3, 5, 7, 11, 13, 17, 19] 8 22
[2, 3, 5, 7, 11, 13, 17, 19] 8 23
[2, 3, 5, 7, 11, 13, 17, 19, 23] 9 24
[2, 3, 5, 7, 11, 13, 17, 19, 23] 9 25
[2, 3, 5, 7, 11, 13, 17, 19, 23] 9 26
[2, 3, 5, 7, 11, 13, 17, 19, 23] 9 27
[2, 3, 5, 7, 11, 13, 17, 19, 23] 9 28
[2, 3, 5, 7, 11, 13, 17, 19, 23] 9 29

In [2]:
primes

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

In [4]:
flowers=['sunflower','rose','iris','chrysanthemum','lotus','lotus','lily','tulip','orchid','acacia']

In [12]:
flower_o = []
for item in flowers:
    if 'o' in item:
        flower_o.append(item)
flower_o

['sunflower', 'rose', 'lotus', 'lotus', 'orchid']

In [10]:
flowers_e =[item for item in flowers if 'e' in item] #list comprehension
flowers_e

['sunflower', 'rose', 'chrysanthemum']

In [20]:
x=[2,3,4,5,6]

In [22]:
x2=[]
for i in x:
    sqr=i**2
    x2.append(sqr)

In [23]:
x2

[4, 9, 16, 25, 36]

In [24]:
x3=[i**3 for i in x] #list comprehension
x3

[8, 27, 64, 125, 216]