In [30]:
flower='chrysanthemum'
name='Vijay deenanath chauhan'
quote='''Life before death,
Hope before despair,
journey before Destination'''

In [3]:
print(flower)

chrysanthemum

In [4]:
print(quote)

Life before death,
Hope before despair,
journey before Destination

In [5]:
flower[2]

'r'

In [6]:
flower[-6]

't'

In [7]:
name[6]

'D'

In [10]:
quote[-18]

'b'

In [ ]:
string[startidx: stopidx]=> get substring from start till stop-1
string[startidx:stopidx:gap]=> get substr  from start till stop-1,with gap
string[:stopidx]=> get substring from beginning till stop-1
string[startidx:]=> get substring from start till length of string

In [12]:
flower[:5]

'chrys'

In [13]:
flower[6:]

'nthemum'

In [14]:
flower[5:7]

'an'

In [19]:
name[0:22:5]

'V a h'

In [32]:
for i,v in enumerate(name):
    print(i,v)

0 V
1 i
2 j
3 a
4 y
5
6 d
7 e
8 e
9 n
10 a
11 n
12 a
13 t
14 h
15
16 c
17 h
18 a
19 u
20 h
21 a
22 n

In [21]:
name[0:5]

'Vijay'

In [23]:
name[6:15]

'Deenanath'

In [34]:
name[16:23]

'chauhan'

In [35]:
quote.find('journey')

40

In [36]:
quote[40:]

'journey before Destination'

In [1]:
sentence='I want to Vijaywada to haVe a Holiday.'

In [2]:
sentence.upper()

'I WANT TO VIJAYWADA TO HAVE A HOLIDAY.'

In [3]:
senu=sentence.upper()

In [4]:
sen1=sentence.lower()

In [6]:
senc= sentence.capitalize()
sent =sentence.title()

In [7]:
sentence.casefold()

'i want to vijaywada to have a holiday.'

In [8]:
sentence.swapcase()

'i WANT TO vIJAYWADA TO HAvE A hOLIDAY.'

In [9]:
word='Solid'

In [12]:
word.rjust(50)

'                                             Solid'

In [13]:
word.ljust(50)

'Solid                                             '

In [15]:
word.center(24)

'         Solid          '

In [2]:
for i in range(1,15,2):
    print('0'*i)

0
000
00000
0000000
000000000
00000000000
0000000000000

In [5]:
for i in range(1,15,2):
    print (('0'*i).center(15))

       0
      000
     00000
    0000000
   000000000
  00000000000
 0000000000000

In [8]:
a='1234'

In [9]:
a.isnumeric()

True

In [11]:
x= input('enter a number')
if x.isnumeric():
    print('good boy')
    x=int(x)
else:
    print('wrong input')

wrong input

# important functions

In [19]:
quote='life before death, hope before despair, journey before destination'

In [20]:
words=quote.split()
print(words)

['life', 'before', 'death,', 'hope', 'before', 'despair,', 'journey', 'before', 'destination']

In [21]:
len(words)

9

In [22]:
quote.split(',')

['life before death', ' hope before despair', ' journey before destination']

In [30]:
wiki='''
Wikipedia was launched on January 15, 2001, by Jimmy Wales and Larry Sanger. Sanger coined its name[5][6] as a portmanteau of "wiki" and "encyclopedia". It was initially an English-language encyclopedia, but versions in other languages were quickly developed. With 6.3 million articles, the English Wikipedia is the largest of the 317 Wikipedia encyclopedias. Overall, Wikipedia comprises more than 55 million articles,[7] attracting 1.7 billion unique visitors per month.[8][9]'''

In [31]:
for word in wiki.split():
    print(word.ljust(15),len(word))

Wikipedia       9
was             3
launched        8
on              2
January         7
15,             3
2001,           5
by              2
Jimmy           5
Wales           5
and             3
Larry           5
Sanger.         7
Sanger          6
coined          6
its             3
name[5][6]      10
as              2
a               1
portmanteau     11
of              2
"wiki"          6
and             3
"encyclopedia". 15
It              2
was             3
initially       9
an              2
English-language 16
encyclopedia,   13
but             3
versions        8
in              2
other           5
languages       9
were            4
quickly         7
developed.      10
With            4
6.3             3
million         7
articles,       9
the             3
English         7
Wikipedia       9
is              2
the             3
largest         7
of              2
the             3
317             3
Wikipedia       9
encyclopedias.  14
Overall,        8
Wikipedia       9
comprises       9
more            4
than            4
55              2
million         7
articles,[7]    12
attracting      10
1.7             3
billion         7
unique          6
visitors        8
per             3
month.[8][9]    12

In [32]:
largest=''
for word in wiki.split():

    if len(largest)<len(word):
        largest=word
        print(largest,len(largest))

Wikipedia 9
name[5][6] 10
portmanteau 11
"encyclopedia". 15
English-language 16

In [33]:
wiki.replace('on','ohh')

'\nWikipedia was launched ohh January 15, 2001, by Jimmy Wales and Larry Sanger. Sanger coined its name[5][6] as a portmanteau of "wiki" and "encyclopedia". It was initially an English-language encyclopedia, but versiohhs in other languages were quickly developed. With 6.3 milliohh articles, the English Wikipedia is the largest of the 317 Wikipedia encyclopedias. Overall, Wikipedia comprises more than 55 milliohh articles,[7] attracting 1.7 billiohh unique visitors per mohhth.[8][9]'

In [34]:
wiki.replace('to','eh').replace('in','out')

'\nWikipedia was launched on January 15, 2001, by Jimmy Wales and Larry Sanger. Sanger coouted its name[5][6] as a portmanteau of "wiki" and "encyclopedia". It was outitially an English-language encyclopedia, but versions out other languages were quickly developed. With 6.3 million articles, the English Wikipedia is the largest of the 317 Wikipedia encyclopedias. Overall, Wikipedia comprises more than 55 million articles,[7] attractoutg 1.7 billion unique visiehrs per month.[8][9]'

In [35]:
newwiki=wiki.replace('is','are')

In [36]:
newwiki

'\nWikipedia was launched on January 15, 2001, by Jimmy Wales and Larry Sanger. Sanger coined its name[5][6] as a portmanteau of "wiki" and "encyclopedia". It was initially an Englareh-language encyclopedia, but versions in other languages were quickly developed. With 6.3 million articles, the Englareh Wikipedia are the largest of the 317 Wikipedia encyclopedias. Overall, Wikipedia comprarees more than 55 million articles,[7] attracting 1.7 billion unique vareitors per month.[8][9]'